In [3]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd


Rank=list()
Competitors=list()
DOBs=[]
Countries=list()
Scores=list()
Event_Lists=list()
Gender=list()

# Ranking world athlete

Performing a crawl on ranking world athete

In [4]:
page=1
pages=121
for page in range (1,pages):
    page = str(page)
    url="https://www.worldathletics.org/world-rankings/overall-ranking/men?regionType=world&page="+page+"&rankDate=2021-05-11&limitByCountry=0"
    html=requests.get(url)
    soup=BeautifulSoup(html.content,"html.parser")
    table=soup("table",attrs={"class":"records-table"})[0]
    for row in table.find_all("tr"):
        cells=row.find_all("td")
        if(len(cells)<6):
            continue
        Rank.append(cells[0].get_text().strip())
        Competitors.append(cells[1].get_text().strip())
        DOBs.append(cells[2].get_text().strip())
        Countries.append(cells[3].get_text().strip())
        Scores.append(cells[4].get_text().strip())
        Event_Lists.append(cells[5].get_text().strip())
        Gender.append("Male")

In [5]:
page=1
pages=111
for page in range (1,pages):
    page = str(page)
    url="https://www.worldathletics.org/world-rankings/overall-ranking/women?regionType=world&page="+page+"&rankDate=2021-05-11&limitByCountry=0"
    html=requests.get(url)
    soup=BeautifulSoup(html.content,"html.parser")
    table=soup("table",attrs={"class":"records-table"})[0]
    for row in table.find_all("tr"):
        cells=row.find_all("td")
        if(len(cells)<6):
            continue
        Rank.append(cells[0].get_text().strip())
        Competitors.append(cells[1].get_text().strip())
        DOBs.append(cells[2].get_text().strip())
        Countries.append(cells[3].get_text().strip())
        Scores.append(cells[4].get_text().strip())
        Event_Lists.append(cells[5].get_text().strip())
        Gender.append("Female")

In [6]:
df=pd.DataFrame({"Place":Rank,"Competitor":Competitors,"Gender":Gender,"Date of birth":DOBs,"Contry":Countries,"score":Scores,"Event Lists":Event_Lists})

In [7]:
df.to_csv('out.csv')

# Clean Data world ranking atlhete

In [8]:
df.drop_duplicates(subset="Competitor")

,Place,Competitor,Gender,Date of birth,Contry,score,Event Lists
0,1,Armand DUPLANTIS,Male,10 NOV 1999,SWE,1515,Pole Vault [Pole Vault ind.]
1,2,Noah LYLES,Male,18 JUL 1997,USA,1505,"100m,200m"
2,3,Karsten WARHOLM,Male,28 FEB 1996,NOR,1489,400mH
3,4,Sam KENDRICKS,Male,07 SEP 1992,USA,1466,Pole Vault
4,5,Christian TAYLOR,Male,18 JUN 1990,USA,1465,Triple Jump
...,...,...,...,...,...,...,...
22995,10996,Sarah LITTLE,Female,,USA,958,"100m [60m ind.,200m ind.]"
22996,10997,Kaylen CLARK,Female,,USA,958,"200m,400m [200m ind.,400m ind.]"
22997,10998,Charlotte WILLIAMS,Female,20 SEP 2001,GBR,958,Hammer Throw
22998,10999,Quincy MCSWEENEY,Female,,USA,958,800m [800m ind.]
22999,11000,Kamila FELIX MIRANDA,Female,12 JUN 1989,BRA,958,"200m,400m"

In [9]:
df.sort_values(by='score', inplace=True)

In [10]:
df['score'] = df['score'].astype(int)

In [11]:
df=df.sort_values(by='score', ascending=False)

In [12]:
df

,Place,Competitor,Gender,Date of birth,Contry,score,Event Lists
12000,1,Sifan HASSAN,Female,01 JAN 1993,NED,1528,"1500m,5000m,10,000m [Mile]"
0,1,Armand DUPLANTIS,Male,10 NOV 1999,SWE,1515,Pole Vault [Pole Vault ind.]
1,2,Noah LYLES,Male,18 JUL 1997,USA,1505,"100m,200m"
12001,2,Dina ASHER-SMITH,Female,04 DEC 1995,GBR,1494,"100m,200m"
2,3,Karsten WARHOLM,Male,28 FEB 1996,NOR,1489,400mH
...,...,...,...,...,...,...,...
22988,10989,Yvette WESTWOOD,Female,03 SEP 1998,GBR,958,"100m,200m [60m ind.]"
22987,10988,Estelle CHARDON,Female,11 JUL 2000,FRA,958,100mH [60mH ind.]
22986,10987,Ah-yeong LEE,Female,09 DEC 1996,KOR,958,400m
22985,10986,Kendra MEISENHEIMER,Female,1994,GER,958,Long Jump [Long Jump ind.]
22972,10973,Alicia THORPE,Female,2002,USA,958,"200m,400m [300m ind.,400m ind.]"

# top list records all Time

Performing a crawl on breaking records at all times- 100 meter Men

In [13]:
rank=list()
Mark=list()
Wind=list()
Competitors=list()
DoB=list()
country=list()
Position=list()
Venue=list()
date_event=list()
resultscore=list()
sex=list()

In [14]:
rec=1
pages_rec=296
for rec in range (1,pages_rec):
    rec = str(rec)
    toplist="https://www.worldathletics.org/records/all-time-toplists/sprints/100-metres/outdoor/men/senior?regionType=world&timing=all&windReading=all&page="+rec+"&bestResultsOnly=false&firstDay=1900-01-01&lastDay=2021-05-15"
    html=requests.get(toplist)
    soup=BeautifulSoup(html.content,"html.parser")
    table=soup("table",attrs={"class":"records-table"})[0]
    for row in table.find_all("tr"):
        cells=row.find_all("td")
        if(len(cells)<10):
            continue
        rank.append(cells[0].get_text().strip())
        Mark.append(cells[1].get_text().strip())
        Wind.append(cells[2].get_text().strip())
        Competitors.append(cells[3].get_text().strip())
        DoB.append(cells[4].get_text().strip())
        country.append(cells[5].get_text().strip())
        Position.append(cells[6].get_text().strip())
        Venue.append(cells[8].get_text().strip())
        date_event.append(cells[9].get_text().strip())
        resultscore.append(cells[10].get_text().strip())
        sex.append("Male")

Performing a crawl on breaking records at all times- 100 meter Women

In [15]:
rec=1
pages_rec=297
for rec in range (1,pages_rec):
    rec = str(rec)
    toplist="https://www.worldathletics.org/records/all-time-toplists/sprints/100-metres/outdoor/women/senior?regionType=world&timing=all&windReading=all&page="+rec+"&bestResultsOnly=false&firstDay=1900-01-01&lastDay=2021-05-15"
    html=requests.get(toplist)
    soup=BeautifulSoup(html.content,"html.parser")
    table=soup("table",attrs={"class":"records-table"})[0]
    for row in table.find_all("tr"):
        cells=row.find_all("td")
        if(len(cells)<10):
            continue
        rank.append(cells[0].get_text().strip())
        Mark.append(cells[1].get_text().strip())
        Wind.append(cells[2].get_text().strip())
        Competitors.append(cells[3].get_text().strip())
        DoB.append(cells[4].get_text().strip())
        country.append(cells[5].get_text().strip())
        Position.append(cells[6].get_text().strip())
        Venue.append(cells[8].get_text().strip())
        date_event.append(cells[9].get_text().strip())
        resultscore.append(cells[10].get_text().strip())
        sex.append("Female")

Create Dataframe

In [16]:
Df_rec_100meter=pd.DataFrame({"Rank":rank,"Mark":Mark,"Wind":Wind,"Competitor":Competitors,"Gender":sex,"Age":DoB,"Country":country,"Position":Position,"Venue":Venue,"Date":date_event,"Result Score":resultscore})

In [17]:
Df_rec_100meter

,Rank,Mark,Wind,Competitor,Gender,Age,Country,Position,Venue,Date,Result Score
0,1,9.58,+0.9,Usain BOLT,Male,21 AUG 1986,JAM,1,"Olympiastadion, Berlin (GER)",16 AUG 2009,1356
1,2,9.63,+1.5,Usain BOLT,Male,21 AUG 1986,JAM,1,"Olympic Stadium, London (GBR)",05 AUG 2012,1337
2,3,9.68,+4.1,Tyson GAY,Male,09 AUG 1982,USA,1,"Eugene, OR (USA)",29 JUN 2008,1295
3,4,9.69,+5.0,Obadele THOMPSON,Male,30 MAR 1976,BAR,1,"El Paso, TX (USA)",13 APR 1996,1286
4,4,9.69,0.0,Usain BOLT,Male,21 AUG 1986,JAM,1,"National Stadium, Beijing (CHN)",16 AUG 2008,1316
...,...,...,...,...,...,...,...,...,...,...,...
59067,28455,11.50,+1.5,Shian HYDE,Female,,JAM,2f2,"Percy Beard Track (Un. of Florida), Gainesvill...",17 APR 2021,1093
59068,28455,11.50,+3.9,Amya CLARKE,Female,1999,SKN,1f3,"Park West Ath. Complex, San Antonio, TX (USA)",17 APR 2021,1070
59069,28455,11.50,+1.0,Guifen HUANG,Female,20 AUG 1997,CHN,2h6,Zhaoqing (CHN),24 APR 2021,1093
59070,28455,11.50,+0.8,Huixin MA,Female,09 AUG 2003,CHN,2h8,Zhaoqing (CHN),24 APR 2021,1093
59071,28455,11.50,-1.8,Jayla KIRKLAND,Female,13 FEB 1999,USA,1h4,Jax Track at Hodges Stadium (North Florida Un....,30 APR 2021,1103

In [19]:
Df_rec_100meter.to_csv('step 1-records after crawling.csv')